.chart{
  margin-top: 15px;
  margin-right: 35px;
   margin-left: 35px;
  border:solid #FF9D55 7px;
  border-radius:10px;

}
#myChart{

  border-radius:10px;
  border: solid white 7px;
}
/*FIRE animation*/
* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  position: relative;
  height: 100%;
  width : 100%;

}
/* Début Header */
header{
  background: linear-gradient(to bottom right, #FF9D55, #c45100)!important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;

  border-bottom: 5mm ridge #692e03;
}

@font-face {
  font-family: 'pokemon_solidnormal';
  src: url('pokemon_solid-webfont.woff2') format('woff2'),
        url('pokemon_solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 40%;
  text-align: center;
  font-family: 'pokemon_solidnormal';
  color: #fff;
  font-size: 50px;
  letter-spacing: 5px;
}

nav{
  z-index: 2;
}

.nav_bar {
  list-style: none;
  padding: 0;
  margin-left: 150px;
}

.nav_bar li {
  display: inline-block;
  padding: 0px 20px;
  z-index: 2;
}

.nav_bar li a {
  transition: all 0.3s ease 0s;
  z-index: 2;
}

.nav_bar li a:hover {
  filter: drop-shadow(0 0 0.9rem #ffffff);
  cursor: pointer;
  
}

.actual_page{
  filter: drop-shadow(0 5px 0.75rem #000);
  z-index: 2;
}

button {
  margin-right: 150px;
  padding: 9px 10px;
  background-color: #43BBE9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.pokeball_nav{
  background: #ffffff;
  border-radius: 100%;
}

.srch{
  z-index: 2;
}

button:hover {
  background-color: #ffffff;
}

/* FIN Header */

body_feu{
  padding: 20px;
}
.img_poke {
  padding: 10px ;
}
@keyframes scaleUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: skewX(0) scale(1);
  }
  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.5);
  }
}

@keyframes glow {
  0%,
  100% {
    background-color: #ef5a00;
  }
  50% {
    background-color: #ff7800;
  }
}

.fire {
  position: absolute;
  top: calc(105% - 10px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.fire-main {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: scaleUpDown 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-main .main-fire {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at 10px 0, #d43300 0%, #ef5a00 95%);
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-main .particle-fire {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: shake 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right .main-fire {
  position: absolute;
  top: 15%;
  right: -25%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-right .particle-fire {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shake 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left .main-fire {
  position: absolute;
  top: 15%;
  left: -20%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-left .particle-fire {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 10%;
  height: 10%;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 3s infinite ease-out 0;
  animation-fill-mode: both;
}

.fire-bottom .main-fire {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  height: 75%;
  background-color: #ff7800;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 100% 40%;
  filter: blur(10px);
  animation: glow 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
  /*end FIRE animation*/