/*
 * GLOBAL
*/
body{
    background: url("../Images/eau/sea.jpg") no-repeat bottom center fixed;
    background-size: 100%;
    overflow:hidden;
}
body, html {
    position: relative;
    height: 100%;
    width : 100%;
    margin: 0;
}
/* 
* Header
*/
header{
    background: linear-gradient(to bottom right, #4D91D7, #174e85)!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: -1px 7px 20px -1px rgba(0,0,0,0.75);
    
  }

  @font-face {
    font-family: 'pokemon_solidnormal';
    src: url('pokemon_solid-webfont.woff2') format('woff2'),
          url('pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  h1 {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 40%;
    text-align: center;
    font-family: 'pokemon_solidnormal';
    color: #fff;
    font-size: 50px;
    letter-spacing: 5px;
  }
  
  nav{
    z-index: 2;
  }
  
  .nav_bar {
    list-style: none;
    padding: 0;
    margin-left: 150px;
  }
  
  .nav_bar li {
    display: inline-block;
    padding: 0px 20px;
    z-index: 2;
  }
  
  .nav_bar li a {
    transition: all 0.3s ease 0s;
    z-index: 2;
  }
  
  .nav_bar li a:hover {
    filter: drop-shadow(0 0 0.9rem #ffffff);
    cursor: pointer;
    
  }
  
  .actual_page{
    filter: drop-shadow(0 5px 0.75rem #000);
    z-index: 2;
  }
  
  button {
    margin-right: 150px;
    padding: 9px 10px;
    background-color: #43BBE9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .pokeball_nav{
    background: #ffffff;
    border-radius: 100%;
}
  
  .srch{
    z-index: 2;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  
/*
 * Image des pokemon
*/
#poks {
    top: 200px;
    width:30%;
    text-align: center;
    margin: auto;
    
}
/*
 * Définition taille img des pokemon en fonction des différentes classe + mouvement correspondant (lourd en bas, léger en haut)
*/
.pokemon_g1 { 
    width: 80px;
    height: 80px;
    -webkit-animation: moving_g1 60s 0s infinite ; }
.pokemon_g2 { 
    width: 100px;
    height: 100px;
    -webkit-animation: moving_g2 60s 0s infinite; }
.pokemon_g3 { 
    width: 120px;
    height: 120px;
    -webkit-animation: moving_g3 60s 0s infinite; }
.pokemon_g4 { 
    width: 140px;
    height: 140px;
    -webkit-animation: moving_g4 60s 0s infinite; }
.pokemon_m1 { 
    width: 80px;
    height: 80px;
    -webkit-animation: moving_m1 60s 0s infinite ; }
.pokemon_m2 { 
    width: 100px;
    height: 100px;
    -webkit-animation: moving_m2 60s 0s infinite; }
.pokemon_m3 { 
    width: 120px;
    height: 120px;
    -webkit-animation: moving_m3 60s 0s infinite; }
.pokemon_m4 { 
    width: 140px;
    height: 140px;
    -webkit-animation: moving_m4 60s 0s infinite; }

/*
 * Ajustement des déplacements pour deux pokémons un peu éloigné du groupe
*/
#poks #img_72 {
    width: 100px;
    height: 100px;
    -webkit-animation: moving72 60s 0s infinite;
}
    
#poks #img_120 {
    width: 80px;
    height: 80px;
    -webkit-animation: moving120 60s 0s infinite;
}

/*
 * Vréation des différentes animations qu'on va utiliser pour les classes correspondantes
*/
/*tentacool*/
@-webkit-keyframes moving72 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(15deg);
    }
    
    10% {
        -webkit-transform:
                translate3d(-600px,-150px,0)
                rotate(-25deg);
    }
    
    20% {
        -webkit-transform:
                translate3d(850px,50px,0)
                rotate(45deg);
    }
    
    60% {
        -webkit-transform:
                translate3d(850px,50px,0)
                rotate(-45deg);
    }
    
    100% {
        -webkit-transform:
                translate3d(850px,50px,0)
                rotate(45deg);
    }
}
/*stari*/
@-webkit-keyframes moving120 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(10deg);
    }
    
    10% {
        -webkit-transform:
                translate3d(600px,-420px,0)
                rotate(-20deg);
    }
    
    20% {
        -webkit-transform:
                translate3d(-600px,-520px,0)
                rotate(50deg);
    }
    
    60% {
        -webkit-transform:
                translate3d(-600px,-520px,0)
                rotate(-40deg);
    }
    
    100% {
        -webkit-transform:
                translate3d(-600px,-520px,0)
                rotate(60deg);
    }
}

@-webkit-keyframes moving_m1 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(30deg);
    }
    10% {
        -webkit-transform:
                translate3d(200px,500px,0)
                rotate(-30deg);
    }
    20% {
        -webkit-transform:
                translate3d(-600px,-700px,0)
                rotate(30deg);
    }
    60% {
        -webkit-transform:
                translate3d(-600px,-700px,0)
                rotate(-40deg);
    }
    100% {
        -webkit-transform:
                translate3d(-600px,-700px,0)
                rotate(60deg);
    }
}
@-webkit-keyframes moving_m2 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(-30deg);
    }
    10% {
        -webkit-transform:
                translate3d(-300px,450px,0)
                rotate(0deg);
    }
    20% {
        -webkit-transform:
                translate3d(0,-450px,0)
                rotate(30deg);
    }
    60% {
        -webkit-transform:
                translate3d(0,-450px,0)
                rotate(-20deg);
    }

    100% {
        -webkit-transform:
                translate3d(0,-450px,0)
                rotate(40deg);
    }
}

@-webkit-keyframes moving_m3 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(-10deg);
    }
    10% {
        -webkit-transform:
                translate3d(-200px,400px,0)
                rotate(10deg);
    }
    20% {
        -webkit-transform:
                translate3d(600px,-400px,0)
                rotate(-10deg);
    }
    60% {
        -webkit-transform:
                translate3d(600px,-400px,0)
                rotate(60deg);
    }
    100% {
        -webkit-transform:
                translate3d(600px,-400px,0)
                rotate(-40deg);
    }
}
@-webkit-keyframes moving_m4 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(10deg);
    }
    10% {
        -webkit-transform:
                translate3d(-1000px,-400px,0)
                rotate(10deg);
    }
    20% {
        -webkit-transform:
                translate3d(-1000px,-400px,0)
                rotate(0deg);
    }
    60% {
        -webkit-transform:
                translate3d(-1000px,-400px,0)
                rotate(0deg);
    }
    100% {
        -webkit-transform:
                translate3d(-1000px,-400px,0)
                rotate(0deg);
    }
}
@-webkit-keyframes moving_g1 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(10deg);
    }
    10% {
        -webkit-transform:
                translate3d(600px,400px,0)
                rotate(-45deg);
    }
    30% {
        -webkit-transform:
                translate3d(600px,400px,0)
                rotate(45deg);
    }
    100% {
        -webkit-transform:
                translate3d(600px,400px,0)
                rotate(-45deg);
    }
}
@-webkit-keyframes moving_g2 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(-15deg);
    }
    10% {
        -webkit-transform:
                translate3d(-100px,450px,0)
                rotate(25deg);
    }
    20% {
        -webkit-transform:
                translate3d(700px,250px,0)
                rotate(-45deg);
    }
    60% {
        -webkit-transform:
                translate3d(700px,250px,0)
                rotate(45deg);
    }
    100% {
        -webkit-transform:
                translate3d(700px,250px,0)
                rotate(-45deg);
    }
}
@-webkit-keyframes moving_g3 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(10deg);
    }
    10% {
        -webkit-transform:
                translate3d(-200px,-400px,0)
                rotate(-20deg);
    }
    20% {
        -webkit-transform:
                translate3d(0px,200px,0)
                rotate(50deg);
    }
    60% {
        -webkit-transform:
                translate3d(0px,200px,0)
                rotate(-40deg);
    }
    100% {
        -webkit-transform:
                translate3d(0px,200px,0)
                rotate(60deg);
    }
}
@-webkit-keyframes moving_g4 {
    0% {
        -webkit-transform:
                translate3d(0,200px,0)
                rotate(10deg);
    }
    10% {
        -webkit-transform:
                translate3d(500px,200px,0)
                rotate(20deg);
    }
    20% {
        -webkit-transform:
                translate3d(-600px,450px,0)
                rotate(-30deg);
    }
    
    60% {
        -webkit-transform:
                translate3d(-600px,450px,0)
                rotate(40deg);
    }
    
    100% {
        -webkit-transform:
                translate3d(-600px,450px,0)
                rotate(-50deg);
    }
}

/*
 *Créayion images de bulles d'eau
*/
#leaves {
    position:relative;
    top:100px;
    width:100%;
    text-align: center;
}
#leaves img {
    display: inline-block;
    width: 200px;
    height: 150px;
    -webkit-animation: falling 5s 0s infinite;
}

/*
* Défintion des différentes tailles des bulles
*/
#leaves img:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves img:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }
#leaves img:nth-of-type(n)    { height:23px; width:30px; }
#leaves img:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves img:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }
#leaves img:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves img:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves img:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }
#leaves img:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves img:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves img:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }
#leaves img:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves img:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves img:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves img:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves img:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves img:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves img:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves img:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves img:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves img:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves img:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves img:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves img:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves img:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves img:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves img:nth-of-type(n)    { opacity: 4;}
#leaves img:nth-of-type(3n+1)  { opacity: 4;}
#leaves img:nth-of-type(3n+2)  { opacity: 4;}
#leaves img:nth-of-type(n)    {transform: rotate(180deg);}

#leaves img:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

/*
*Animation des bulles pour qu'elles remontent
*/
@-webkit-keyframes falling {
    0% {
        -webkit-transform:
                translate3d(-350px,160px,0)
                rotate(0deg);
    }
    100% {
        -webkit-transform:
                translate3d(300,-1400px,0)
                rotate(90deg);
        opacity: 3;
    }
}
@-webkit-keyframes falling3 {
    0% {
        -webkit-transform:
                translate3d(-230px,100px,0)
                rotate(-20deg);
    }
    100% {
        -webkit-transform:
                translate3d(0,-1400px,0)
                rotate(-70deg);
        opacity: 3;
    }
}
@-webkit-keyframes falling2 {
    0% {
        -webkit-transform:
                translate3d(-400px,140px,0)
                rotate(90deg);
    }
    100% {
        -webkit-transform:
                translate3d(0,-1400px,0)
                rotate(0deg);
        opacity: 3;
    }
}