body{
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom right, #43BBE9, #320732);
}

.pokeball{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.pokeball_basique{
    width:600px;
    height:600px;
    position: fixed;
    z-index: 1;
}

.pokeball a{
    position: fixed;
    height : 80px; 
    width : 80px;
    z-index: 2;
}

.pokeball a:hover {
    height : 70px; 
    width : 70px;
    filter: drop-shadow(0 0 0.9rem #320732);
    z-index: 2;
}