body{
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom right, #43BBE9, #320732);
}

/*====================================================== HEADER ===========================================================*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #320732;

    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    z-index: 3;
}

@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('pokemon_solid-webfont.woff2') format('woff2'),
          url('pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

h1 {
padding: 0;
margin: 0;
position: absolute;
top: 20px;
left: 40%;
text-align: center;
font-family: 'pokemon_solidnormal';
color: #fff;
font-size: 50px;
letter-spacing: 5px;
}

.nav_bar {
    list-style: none;
    padding: 0;
    margin-left: 150px;
}

.nav_bar li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_bar li a {
    transition: all 0.3s ease 0s;
}

.pokeball_nav{
    background: #ffffff;
    border-radius: 100%;
}

.nav_bar li a:hover {
    filter: drop-shadow(0 0 0.9rem #ffffff);
    cursor: pointer;
}

#actual_page{
    filter: drop-shadow(0 0 0.75rem #000);
}


button {
    margin-right: 150px;
    padding: 9px 10px;
    background-color: #43BBE9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #ffffff;
}

/*====================================================== PIKATCHU ET POKEBALL ===========================================================*/

#container{
    width: 100rem;
    height: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background:none;
}


.pikatchu{
    position : absolute;
    width:  455px;
    height: 465px;
    top: 500px;
    left: 1150px;


    pointer-events: none;
    animation: animate_pika 5s infinite;
}

@keyframes animate_pika{
    0%{
        transform: scale(1) translateY(0) rotate(0deg);
    }

    25%{
        transform: scale(1) translateY(1%) rotate(0deg);
    }

    50%{
        transform: scale(1) translateY(0) rotate(0deg);
    }

    75%{
        transform: scale(1) translateY(-1%) rotate(0deg);
    }

    100%{
        transform: scale(1) translateY(0%) rotate(0deg);
    }
}


.bouton {
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: white;
    z-index: 1;
    transition: 0.3s ease-in;


}

.bouton:hover {
    animation: animate_pokeball 5s infinite;
}

@keyframes animate_pokeball{
    0%{
        transform: scale(1) translateY(0) rotate(0deg);
    }

    25%{
        transform: scale(1.5) translateY(0) rotate(0deg);
    }

    50%{
        transform: scale(1) translateY(0) rotate(0deg);
    }

    75%{
        transform: scale(1.5) translateY(0) rotate(0deg);
    }

    100%{
        transform: scale(1) translateY(0%) rotate(0deg);
    }
}

/*====================================================== IMAGES DES POKEMONS ===========================================================*/

.pokemon_img{
    height: 120px;
    width: 120px;
    position:absolute;
    filter: drop-shadow(0 15px 0.75rem rgb(0, 0, 0));
    z-index: 2;
}

.pokemon_img_background{
    height: 180px;
    width: 180px;
    position:absolute;
    opacity: 0.85;
    z-index: 1;
}

/*====================================================== OVERLAY ===========================================================*/

.overlay {
border-radius: 50px;
height: 750px;
width: 0%;
position: absolute;
z-index: 2;
top: 30%;
left: 40%;
overflow-x: hidden;
transition: 0.5s;
}

.overlay #closebtn {
position: absolute;
top: 10px;
left: 10px;
}

/*====================================================== CARD ===========================================================*/

#bubble{
    position:absolute;
    border-radius: 100%;
    pointer-events: none;
    animation: animate 15s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }

    10%{
        opacity: 0.7;
    }

    90%{
        opacity: 0.7;
    }

    100%{
        transform: scale(1) translateY(-500%) rotate(0deg);
        opacity: 0;
    }
}

.card{
    overflow: hidden;
    border-radius: 5%;
    left: 0;
    top: 0;
    height: 750px;
    width: 500px;
    z-index: 1;
}

.pokemon_card_type_container_img{
    position: absolute;
    margin-top: 20px;
    background: none;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    left: 50px;
    top: 10px;
}

.type_img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
    z-index: 2;
}


.type1_img, .type2_img{
    height: 40px;
    width: 40px;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}


.pokemon_card_img_cercle{
    position: absolute;
    border-radius: 100%;
    left: 165px;
    top: 45px;
    height: 170px;
    width: 170px;
    z-index: 1;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/ca/PokemonSymbol.svg');
    
    background-size: 170px 170px;
    background-color: rgba(255, 255, 255, 0.164);
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

.pokemon_card_img, .pokemon_card_name, .pokemon_card_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    z-index: 2;
    font-family: Courier New, monospace, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.pokemon_card_img img{
    height: 120px;
    width: 120px;
    z-index: 2;
    filter: drop-shadow(15px 0px 0rem rgb(0, 0, 0));
}

.pokemon_card_name_cercle{
    position: absolute;
    border-radius: 100%;
    left: 200px;
    top: 0px;
    height: 100px;
    width: 100px;
    z-index: 1;
    
}

.pokemon_card_chart_cercle{
    position: absolute;
    border-radius: 10px;
    left: 110px;
    top: 240px;
    height: 240px;
    width: 280px;
    z-index: 1;
    backdrop-filter: blur(5px);;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
}

.pokemon_card_chart{
    position: absolute;
    height: 260px;
    width: 260px;
    z-index: 2;
    bottom: 4px;
    left: 5px;
}

.myChart{
    z-index: 2;
}

.pokemon_card_evo_container_img_cercle{
    position: absolute;
    border-radius: 5px;
    left: 25px;
    bottom: 90px;
    height: 150px;
    width: 450px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
}

.pokemon_card_evo_container_img{
    margin-top: 20px;
    background: none;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.evolution1_img{
    width: 40%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    z-index: 2;
}

.evolution2_img{
    width: 40%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    z-index: 2;
}

.evolutions_img{
    height: 120px;
    width: 120px;
    padding-left: 20%;
    z-index: 2;
}

.pokemon_card_evo_container_names_cercle{
    position: absolute;
    border-radius: 5px;
    left: 25px;
    bottom: 50px;
    height: 30px;
    width: 450px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
}

.pokemon_card_evo_container_names{
    position: absolute;
    top: 5px;
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.evolution1_name{
    padding-left: 20%;
    z-index: 2;
    font-family: Courier New, monospace, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.evolution2_name{
    padding-right: 20%;
    z-index: 2;
    font-family: Courier New, monospace, sans-serif;
    font-weight: bold;
    font-size: 20px;
}